
{% extends 'layout.html' %}
{% load usuarios_tags %}
{% load widget_tweaks %}

{% block content %}
    {% if user|sector:"Secretaria" or user|sector:"Gerencia" %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container pt-3">
                <h1 class="display-5 text-center my-3">{{titulo}}</h1>
                
                {% include 'componentes/forms_errors.html' %}

                <div class="row d-flex justify-content-center my-5">
                    <!-- Paciente -->
                    <div class="col-md-4">
                        <div class="my-3">
                            <label class="form-label">
                                {{form.paciente.label|upper}}
                                <a href="{% url 'pacientes:agregar' %}?prev={{request.path}}" type="submit">
                                    <i class="fas fa-user-plus ml-3 text-success"></i>
                                </a>
                            </label>
                            {{form.paciente|attr:"autofocus:on"|attr:'autocomplete:off'|add_class:'form-control rounded-pill'}}
                        </div>
                    </div>
                    <!--  Fecha -->
                    <div class="col-md-4">
                        <div class="my-3">
                            <label class="form-label">{{form.fecha.label|upper}}</label>
                            {{form.fecha}}
                        </div>
                    </div>       
                    
                    <div class="col-md-4">
                        <div class="my-3">
                            <label class="form-label">{{form.time.label|upper}}</label>
                            {{form.time|add_class:'form-control rounded-pill'}}
                        </div>
                        </div>
                    </div>
                    <!--Fecha-->
                    <!-- <input id="datepicker" width="276" /> -->
                    
                    {% if editar %}
                        <!--  Estado -->
                        <div class="col-md-4">
                            <div class="my-3">
                                <label class="form-label">{{form.asistencia.label|upper}}</label>
                                {{form.asistencia|attr:"type:date"|add_class:'form-control rounded-pill'}}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="d-flex justify-content-center my-3">
                    <div class="btn-group shadow-sm" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'pacientes:lista_turnos' %}" type="button" class="btn btn-outline-primary">
                            <i class="fas fa-angle-double-left text-info"></i> Volver
                        </a>
                        {% if editar %}
                            <a href="{% url 'pacientes:eliminar_turno' object.id %}" type="button" class="btn btn-outline-primary">
                                <i class="fas fa-times text-danger"></i> Cancelar
                            </a>
                        {% endif %}
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-check text-ifno"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <h1 class="text-center my-5 lead">No tienes permiso para cargar turnos</h1>
            </div>
        </div>
    {% endif %}

    
{% endblock %}