{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container pt-3">
            <h1 class="display-5 text-center my-3">{{titulo}}</h1>
            
            {% include 'componentes/forms_errors.html' %}

            <div class="row">
                <!-- username -->
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label">
                            {{form.username.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.username|attr:"autocomplete:off"|attr:"autofocus:on"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
                <!-- password -->
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label">
                            {{form.password.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.password|attr:"type:password"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
        
                 <!-- password2 -->
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label">
                            {{form.password.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.password|attr:"type:password"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>

                <!-- rol -->
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label">{{form.rol.label|upper}}</label>
                        {{form.rol|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Nombre -->
                <div class="col-sm-4">
                    <div class="my-3">
                        <label class="form-label">
                            {{form.first_name.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.first_name|attr:"autocomplete:off"|attr:"autofocus:on"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
                <!-- Apellido -->
                <div class="col-sm-4">
                    <div class="my-3">
                        <label class="form-label">
                            {{form.last_name.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.last_name|attr:"autocomplete:off"|attr:"autofocus:on"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
                <!-- Imagen -->
                <div class="col-sm-4">
                    {% if object.imagen %}
                        <div class="my-3">
                            <label class="form-label">{{form.imagen.label|upper}}</label>
                            <img src="{{object.imagen.url}}" class="img-fluid" alt="Imagen" height="60" width="60">
                            {{form.imagen|attr:"type:file"|add_class:'py-3'}}
                        </div>
                    {% else %}
                        <div class="form-file mt-md-5 my-3">
                            {{form.imagen|attr:"type:file"|add_class:'form-file-input'}}
                            <label class="form-file-label" for="customFile">
                                <span class="form-file-text">{{form.imagen.label|upper}}</span>
                                <span class="form-file-button">Buscar</span>
                            </label>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <!--  Email -->
                <div class="col-sm-4">
                    <div class="my-2">
                        <label class="form-label">{{form.email.label|upper}}</label>
                        {{form.email|attr:"type:email"|attr:"autocomplete:off"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="my-2">
                        <label class="form-label">
                            {{form.dni.label|upper}}
                            <span class="text-danger">*</span>
                        </label>
                        {{form.dni|attr:"autocomplete:off"|add_class:'form-control rounded-pill'}}
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center my-4">
                <div class="btn-group shadow-sm" role="group" aria-label="Basic outlined example">
                    {% if editar %}
                        <a href="{% url 'productos:detalle' producto.id %}" type="button" class="btn btn-outline-primary"><i class="fas fa-angle-double-left text-info"></i> Volver</a>
                    {% else %}
                        <a href="{% url 'productos:lista' %}" type="button" class="btn btn-outline-primary">
                            <i class="fas fa-angle-double-left text-info"></i> Volver
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-check text-ifno"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}